!!!
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0")
    title PokeBattle
    link(rel="icon", type="image/png", href="../Sprites/favicon.png")
    link(rel="stylesheet", href=asset_path("css/vendor.css"))
    link(rel="stylesheet", href=asset_path("css/main.css"))
  body(class = bodyClass)
    #navigation
    #content
      #header
        #main-nav
          #leftmenu.left
            a(href="#").show-navigation
              span.icon.icon-menu
          #logo
            img(id="logoimg", src="../Sprites/logo.png", height="120px", alt="pokebattle.com")
          nav#sections
            ul
              li
                a(href="../") Simulator
              li
                a(href="//forums.p-insurgence.com/", target="_blank") Forums
              li
                a(href="../leaderboard", target="_blank") Leaderboard
        #sub-nav
      block content
    block footer
    script.
