h2 Your teams
.teambuilder_teams.clearfix
  each team in teams
    if team.isDefault
      != window.JST['teambuilder/team']({team: team, window: window})
  each team in teams
    != window.JST['teambuilder/team']({team: team, window: window})
.button.button_blue.add-new-team Add new team
.button.import-team Import


if window.PokeBattle.username == "Deukhoofd" || window.PokeBattle.username == "thesuzerain"
  div.Team-Admin
    h5 Admin Commands
    .button.get-teams Get all teams
    br
    | Get Random teams
    - var allformats = window.PokeBattle.conditions.Formats()
    .dropdown.random-team-admin
       .current-format-random-admin.button.dropdown-toggle(data-toggle="dropdown")
          a#currentselectedrandomadminformat(href="#", data-format="#{allformats[window.DEFAULT_FORMAT].name}") #{allformats[window.DEFAULT_FORMAT].humanName}
       ul.dropdown-menu(role='menu')
          for format in allformats
            li
              a(href="#", data-format="#{format.name}") #{format.humanName}
       .button.getrandomteams 1
       .button.getrandomteams 5
       .button.getrandomteams 10
       .button.getrandomteams 25