p.logo
h2 Chat
ul.nav.nav_rooms
  li.nav_item.fake_link Lobby

h2 Other links
ul.nav
  li.nav_item.fake_link.nav_teambuilder Teambuilder
  li.nav_item.fake_link.nav_battle_list Battle List
  a(href="/replays", target="_blank").nav_item Your Replays
  a(href="/leaderboard/", target="_blank").nav_item Leaderboard
  a(href="/tiers/", target="_blank").nav_item Tier List
  a(href="//gitlab.com/Deukhoofd/BattleSim/issues", target="_blank").nav_item Bug Reports
  a(href="//forums.p-insurgence.com/c/battle-simulator/feature-requests", target="_blank").nav_item Feature Requests

ul.nav.nav_battles.hidden

h2.header_messages.hidden Messages
ul.nav.nav_messages.hidden


